<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{refLines}">
    <f:for each="{refLines}" as="table" key="type">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{type}">
                            <f:translate key="LLL:EXT:editors_choice/Resources/Private/Language/locallang_references.xlf:referenced.{type}"/>
                        </a>
                    </h4>
                </div>
                <div id="collapse{type}" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="table-fit">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="col-icon"></th>
                                    <th class="col-title">
                                        <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:show_item.php.title" default="{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_core.xlf:show_item.php.title')}" />
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <f:for each="{table}" as="refLine">
                                    <f:render section="refLineRow" arguments="{line: refLine, systemLanguageRows: systemLanguageRows}"/>
                                </f:for>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </f:for>

    <f:section name="refLineRow">
        <tr>
            <f:if condition="{line.record}">
                <f:then>
                    <td class="col-icon">
                        <a href="{line.url}" title="id={line.record.uid}">
                            <core:iconForRecord table="{line.row.tablename}" row="{line.record}" />
                        </a>
                    </td>
                    <td class="col-title"><a href="{line.url}" title="id={line.record.uid}">{line.recordTitle -> f:format.raw()}
                        <f:if condition="{line.language}">
                            [{line.language}]
                        </f:if>
                    </a></td>
                </f:then>
                <f:else>
                    <td class="col-icon"></td>
                    <td class="col-title">
                        <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:show_item.php.missing_record" default="{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_core.xlf:show_item.php.missing_record')}" />
                        (uid={line.row.recuid}
                    </td>
                </f:else>
            </f:if>
        </tr>
    </f:section>
</f:if>
</html>
